@import url('https://fonts.googleapis.com/css2?family= Tilt +Warp & display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    background-image: url(imagens/fundo-de-lado.png);
}

nav {
    background-color: blueviolet;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bolder;

}

ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 5px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}

nav ul {
    float: right;
    margin-right: 20px;


}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}

a.active,
a:hover {
    background: rgb(102, 1, 100);
    transition: 0.5s;
}

#check:checked~ul {
    left: 0;
}

.checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

@media (max-width:1275px) {
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }

    nav ul li a {
        font-size: 16px;
    }
}

@media(max-width:1155px) {
    .checkbtn {
        display: block;
    }

    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    a.active {
        background: none;
    }

    a:hover {
        background: whitesmoke;
        color: black;
        border-radius: 20px;
        text-shadow: none;
    }

    #check:checked~ul {
        left: 0;
    }


}